.Main__content {
    position: relative;

}
.Hr__line {
    border-top: 1px solid rgb(189, 174, 174);
}
.Main__tableSum {
    width: 560px;
    border: 2px solid #000000;
    border-radius: 15px;
    margin: 10px auto;
    background-color: rgba(57, 40, 58, 0.51);
}
.inputOperator {
    font-size: 30px;
    color: white;

}
.Main__table1, td, th {
    border: 1px solid ;
    width: 400px;
    height: 26px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
    padding: 3px;
    background: rgba(202, 215, 231, 0.7);
}
th span {
    font-size: 14px;
}
th span:hover {
    color: #ab0303;
    cursor: pointer;
}
.tableTittle{
    font-size: 20px;
    text-align: center;
    padding: 5px;
}
.totalAmountSum {
    border: 1px solid ;
    width: 200px;
    height: 40px;
    max-width: 100%;
    font-size:18px;
    background: rgb(231, 160, 106);
    margin: 10px auto;
    padding-top: 8px;
    text-align: center;
    background: #000000;
    border-radius: 15px;
    color: white;
}

.Main__title {
    font-size: 100px;
    line-height: 1.2;
    color: #fff;
    margin-top: 200px;
    text-align: center;
    font-weight: 300;
}
.Main__text {
    font-size: 18px;
    line-height: 1.1;
    color: #fff;
    margin-top: 15px;
    text-align: center;
    padding-bottom: 40px;
    opacity: 0.6;
}
.Main__actions {
    max-width: 150px;
    height: 45px;
    background-color: rgb(164, 211, 78);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.Main__actions:hover {
    background-color: aqua;
}
.Main__button {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}